body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}
